[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Benjamin Barenblat (bbarenblat)
	owner = group user/Michael Pratt (prattmic)
	owner = group user/ron minnich (rminnich)
[access "refs/for/refs/*"]
	read = group user/ron minnich (rminnich)
	push = group user/ron minnich (rminnich)
	label-Code-Review = -2..+2 group riscv-go
	label-Code-Review = -2..+2 group user/ron minnich (rminnich)
	rebase = group riscv-go
	rebase = group user/ron minnich (rminnich)
	removeReviewer = group user/ron minnich (rminnich)
	submit = group riscv-go
	submit = group user/Michael Pratt (prattmic)
	submit = group user/ron minnich (rminnich)
	pushMerge = group riscv-go
[access "refs/heads/*"]
	read = group user/ron minnich (rminnich)
	create = group user/ron minnich (rminnich)
	push = deny group user/ron minnich (rminnich)
	push = +force group user/Michael Pratt (prattmic)
	pushMerge = group user/ron minnich (rminnich)
	label-Code-Review = -2..+2 group riscv-go
	submit = group riscv-go
[access "refs/tags/*"]
	push = +force group user/ron minnich (rminnich)
	pushTag = group user/ron minnich (rminnich)
	pushSignedTag = group user/ron minnich (rminnich)
[access "refs/meta/*"]
	label-Verified = -1..+1 group riscv-go
[label "Verified"]
	function = NoOp
	value =  0 No score
	defaultValue = 0
[receive]
	requireChangeId = true
